<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get & Post Express</title>
</head>
<body>
	<div>
		<h2 style="color: orange; text-align: center;">Obtener último dígito de cédula</h2>
	</div>
	<div style="text-align: center;">
		<form action="/data" method="POST">
			<div>
				<input style="font-size: 18px; text-align: center; width: 300px;" name="cedula" type="number" placeholder="Ingresa tu último dígito">
			</div>
			<div>
				<button style="color: purple; font-size: 20px; margin: 10px; border-radius: 10px;">Envíar</button>
			</div>
		</form>
	</div>
</body>
</html>